In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /Users/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("AB_NYC_2019.csv")

In [9]:
df.duplicated().sum()

0

In [5]:
df1=df.isnull().sum

In [6]:
df1

<bound method NDFrame._add_numeric_operations.<locals>.sum of           id   name  host_id  host_name  neighbourhood_group  neighbourhood  \
0      False  False    False      False                False          False
1      False  False    False      False                False          False
2      False  False    False      False                False          False
3      False  False    False      False                False          False
4      False  False    False      False                False          False
...      ...    ...      ...        ...                  ...            ...
48890  False  False    False      False                False          False
48891  False  False    False      False                False          False
48892  False  False    False      False                False          False
48893  False  False    False      False                False          False
48894  False  False    False      False                False          False

       latitude  longitude  room_type  price  minimum_nights  \
0         False      False      False  False           False
1         False      False      False  False           False
2         False      False      False  False           False
3         False      False      False  False           False
4         False      False      False  False           False
...         ...        ...        ...    ...             ...
48890     False      False      False  False           False
48891     False      False      False  False           False
48892     False      False      False  False           False
48893     False      False      False  False           False
48894     False      False      False  False           False

       number_of_reviews  last_review  reviews_per_month  \
0                  False        False              False
1                  False        False              False
2                  False         True               True
3                  False        False              False
4                  False        False              False
...                  ...          ...                ...
48890              False         True               True
48891              False         True               True
48892              False         True               True
48893              False         True               True
48894              False         True               True

       calculated_host_listings_count  availability_365
0                               False             False
1                               False             False
2                               False             False
3                               False             False
4                               False             False
...                               ...               ...
48890                           False             False
48891                           False             False
48892                           False             False
48893                           False             False
48894                           False             False

[48895 rows x 16 columns]>

In [10]:
df.duplicated().sum()

0